In [5]:
import pymysql
connection = pymysql.connect(host='127.0.0.1',
                             user='root',
                             password='jobeasy',
                             db='h1b')

In [59]:
# Create a cursor object
cursorObject = connection.cursor()
# SQL string to create a MySQL table
sqlCreateTableCommand= '''CREATE TABLE h1b_2019(
case_number int, 
case_status varchar(128), 
case_submitted date, 
decision_date date,
visa_class varchar(32),
employment_start_date date,
employment_end_date date,
employer_name varchar(1024),
employer_business_dba varchar(256),
employer_address varchar(2048),
employer_city varchar(128),
employer_state varchar(3),
employer_country varchar(32),
employer_province varchar(128),
employer_phone varchar(16),
employer_phone_ext int,
agent_representing_employer varchar(2),
agent_attorney_name varchar(1024),
agent_attorney_city varchar(32),
agent_attorney_state varchar(4),
job_title varchar(128),
soc_code varchar(128),
soc_name varchar(256),
naics_code int,
total_workers int,
new_employment int,
continued_employment int,
change_previous_employment int,
new_concurrent_emp int,
change_employer int,
amended_petition int,
full_time_position varchar(2),
prevailing_wage decimal(30, 5),
pw_unit_of_pay varchar(32),
pw_wage_level varchar(16),
pw_source varchar(8),
pw_source_year int,
pw_source_other varchar(256),
wage_rate_of_pay_from decimal(15, 3),
wage_rate_of_pay_to decimal(15, 3),
wage_unit_of_pay varchar(16),
h1b_dependent varchar(2),
willful_violator varchar(2),
support_h1b varchar(4),
labor_con_agree varchar(2),
public_disclosure_location varchar(4),
worksite_city varchar(32),
worksite_county varchar(32),
worksite_state varchar(4),
worksite_postal_code varchar(32),
original_cert_date date)
'''
# Execute the sqlQuery
cursorObject.execute(sqlCreateTableCommand)

# List the tables using SQL command
sqlShowTablesCommand= "show tables"
# Execute the SQL command
cursorObject.execute(sqlShowTablesCommand)

#Fetch all the rows - from the command output
rows= cursorObject.fetchall()
for row in rows:
    print(row)

('h1b_2019',)

In [9]:
# Create a cursor object
cursorObject = connection.cursor()
# List the tables using SQL command
sqlShowTablesCommand= "show tables"
# Execute the SQL command
cursorObject.execute(sqlShowTablesCommand)

#Fetch all the rows - from the command output
rows= cursorObject.fetchall()
for row in rows:
    print(row)

In [12]:
# Create a cursor object
cursorObject = connection.cursor()
# List the tables using SQL command
sqlShowTablesCommand= "drop table H1B_2019"
# Execute the SQL command
cursorObject.execute(sqlShowTablesCommand)

0